@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap')
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
}

.logo {
  height: 50px;
  cursor: pointer;
}

li, a, button {
  font-family:sans-serif;
  font-size: 10px;
  color:black
  
}

.demo1 { 
  background-image: url("https://cdn.glitch.global/490c1b84-2ded-4831-a6d2-3d1457095e15/social-media-banner-ef-2020.png?v=1685977857180")
}


a{
  text-decoration:none
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav__links{
  list-style: none;
  
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s; 
}

.nav__links li a:hover{
  color: #0088a9
}

button{
  padding:9px 25px;
  background-color: rgba(249, 215, 214);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;  
}

button:hover{
  background-color: rgba(249, 215, 214);
}



